// CommonCheckbox.module.scss
.customCheckboxCard {
    // CheckboxCard.Root에 대한 추가 스타일
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
  
  .customCheckboxControl {
    // CheckboxCard.Control에 대한 추가 스타일
    padding: 15px;
    

}
  
  .customCheckboxLabel {
    // CheckboxCard.Label에 대한 추가 스타일
    width: 100px;
    font-size: 1.1rem;
    color: #333;
    
  }
  
  .customCheckboxIndicator {

    // CheckboxCard.Indicator에 대한 추가 스타일
    // (Chakra UI의 Indicator 기본 스타일을 덮어쓸 수도 있습니다.)
  }