.mainBody {
  display: flex;
  margin-left: 0;

  @media (min-width: 80.25rem) { // BREAKPOINT = CONTAINER_WIDTH(72rem) + SIDEBAR_WIDTH(8.25rem)
    margin-left: 8.25rem;
  }
}

.layout2 {
  flex-grow: 1;
  height: 100%;
}
