$SIDEBAR_WIDTH: 140px;
$INPUT_WIDTH: 680px;
$INPUT_HEIGHT: 80px;
$TOP_MARGIN: 160px;
$LOGO_SIZE: 48px;

.login_container {
  width: 100%;
  height: 100vh;
}

.container {
  width: calc(100% - $SIDEBAR_WIDTH);
  height: 100%;
  margin-left: $SIDEBAR_WIDTH;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
   
    margin-top: 160px;
    &__desc {
      
      font-size: main.$subtitl-l;
      font-weight: main.$fontweightBold;
    }
    &__logo {
      display: flex;
      justify-content: center;
      gap: 10px;
      img {
        width: $LOGO_SIZE;
        height: $LOGO_SIZE;
      }
      h1 {
        font-size: main.$titleFontSize;
        font-weight: main.$fontweightBold;
      }
    }
  
  }
   &__img {
    width: 651px;
    height: auto;

  }
 &__kakao_login{
  border: none;
  outline: none;
  width: 300px;
  height: 80px;
 background-image: url(src/assets/images/login/kakao_login_medium_narrow.png);
 background-repeat: no-repeat;
 border-radius: 12px;
 background-size: contain;



 }
 
}
