$LOGO_WIDTH: 4.5rem;
$LOGO_TOP_MARGIN: 2.938rem;
$ICON_WIDTH: 2.5rem;

.sidebar {
  position: fixed;
  width: main.$SIDEBAR_WIDTH;
  height: 100%;
  top: 0;
  left: 0;

  &__logo {
    position: relative;
    width: $LOGO_WIDTH;
    height: $LOGO_WIDTH;
    left: 2.125rem;
    top: $LOGO_TOP_MARGIN;
  }
  &__iconList {
    position: relative;

    width: 100%;
    height: calc(100% - $LOGO_TOP_MARGIN - $LOGO_WIDTH);
    margin-top: calc($LOGO_TOP_MARGIN + $LOGO_WIDTH);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;

    &__icon {
      width: $ICON_WIDTH;
          svg path{
             transition: fill 0.1s ease;
             cursor: pointer;
          }    
 svg:hover path{
        fill:#253422;
        
        
      }

     
    }
  }
}

