.loginContainer{
    position: absolute;
   grid-column: span 2; 
top: 50px;
right:0;
}
.loginBtn{
    width: 173px;
    height: 70px;
    background-color: main.$accent-primary;
border-radius: 40px;
color: main.$bg-light;
font-weight: main.$fontweightExtraBold;
font-size: subtitle-s;
outline: none;
border:none

}