.loginContainer{
    position:absolute;
   width:100%;
   display:flex;
   justify-content:end;
   top:2rem;
   rignt:2rem;
}
.loginBtn{
    width: 10rem;
    height: 3.5rem;
    background-color: main.$accent-primary;
border-radius: 10px;
color: main.$bg-light;
font-weight:400;
font-size: 20px;
outline: none;
border:none

}
