.tabsRoot {
    width: 100%;

    justify-content: center;

}

.triggerRoot{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.result {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.subTabsList {
    max-width: 20%;
}

.subTabs {
width: auto;       /* 동그라미 크기 */
  height: 40px;
  border-radius: 15px; /* 원 모양 */
  border: 0.1px solid black;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  
  &:hover {
    background-color: #e0f0ff; /* 연한 파란색 */
    border-color: #3399ff;
  }

  &.active {
    background-color: #3399ff; /* 클릭 시 파란색 */
    border-color: #3399ff;
    color: white;
  }
}