// Color Variables (SCSS)

// Background Colors
$bg-light: #FFFFFF;
$bg-darken: #F8F8F8;

// Accent Colors
$accent-primary: #15BDB1;
$accent-secondary: #82E3D3;
$accent-tertiary: #B1E1E8;

// Grayscale
$text-primary: #181818;
$text-secondary: #919294;
$icons: #D9D9D9;
$dividers: #EDEDED;
$stroke: #C5C5C5;

// Button Colors
$btn-hover: #109A90;
$btn-click: #13EAA3;

// System Colors
$successful: #4DA63E;
$successful-hover: #369926;
$successful-secondary: #80F9A5;
$successful-tertiary: #C2F5B9;
$attention: #F9DE51;
$attention-hover: #EFD02C;
$attention-secondary: #EFE29B;
$attention-tertiary: #F9F1C7;
$error: #FF4545;
$error-hover: #ED2F2F;
$error-secondary: #7B7B7B;
$error-tertiary: #FBD7DF;