// headlines
$logoFontSize: 6rem;
$titleFontSize: 3rem;
$subtitl-l: 2.25rem;
$subtitle-m: 2rem;
$subtitle-s: 1.5rem;

//Text
$text-m: 1.25rem;
$text-s: 1rem;
$text-xs: 0.875rem;


//Btn -> 다 ExtraBold

$Btn-l: 1.5rem;
$Btn-m: 1.25rem;
$Btn-s: 1rem;

//Font weight
$fontweightMedium: 500;
$fontweightBold: 700;
$fontweightExtraBold: 800;