// headlines
$logoFontSize:96px;
$titleFontSize : 48px;
$subtitl-l: 36px;
$subtitle-m: 32px;
$subtitle-s:24px;

//Text
$text-m: 20px;
$text-s:16px;
$text-xs: 14px;

//Btn -> 다 ExtraBold
$Btn-l: 24px;
$Btn-m: 20px;
$Btn-s: 16px;

//Font weight
$fontweightMedium: 500;
$fontweightBold: 700;
$fontweightExtraBold: 800;
